@font-face {
    font-family: localRubik;
    src: url(data/rubik.ttf);
}

html, body {
    background-color: rgb(32, 33, 51);
    color: gainsboro;
}

body {
    /* font-family: localRubik, sans-serif; */
    font-family: consolas, monospace;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

#ins {
    color: gainsboro;
    padding: 2px 10px 2px 10px;
    font-size: 14px;
    height: 100px;
}

.tooltip-AD { color: #ffae1a }
.tooltip-AP { color: #7366ff }
.tooltip-hp { color: #69e1a5 }

hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgb(32, 33, 51), rgba(255, 255, 255, 0.5), rgb(32, 33, 51));
}