html, body {
    background-color: rgb(32, 33, 51);
    color: gainsboro;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#ins {
    color: gainsboro;
    padding: 2px 10px 2px 10px;
    font-family: consolas;
    font-size: 14px;
    height: 100px;
}

.tooltip-AD { color: #ffae1a }
.tooltip-AP { color: #7366ff }
.tooltip-hp { color: #69e1a5 }